{% extends 'base.html.twig' %}

{# Le titre est simple alors il est rentré en dur #}
{% block title 'About' %}

{% block body %}
 <h1>About</h1>

 <p>
    Laboris pariatur ullamco labore labore aliquip quis reprehenderit quis. Ut voluptate proident aliqua sunt consequat anim et mollit dolor ea anim anim duis. Qui do esse eiusmod incididunt labore do aliquip sunt elit dolor amet aliquip nulla.
 </p>

 <p><a href="https://parlonscode.com">Go to Parlons Code</a></p>
{% endblock %}
