<turbo-stream action="update" target="contact">
  <template>
    <div class="alert-success">
      Thanks "{{ name }}" for your message. we'll get back ti you very soon.
    </div>
      {{ include('messages/_form.html.twig') }}
  </template>
</turbo-stream>
